@import './utilities/variables';


.design {
    background: url(../images/feauture_bg.png);
    @include background-size(cover);
    min-height: 850px;
    margin-bottom: 100px; 

    .design-img {
        position: relative;

        img {
            position: absolute;
            top: 100%;
            left: 35%;
            margin: 100px 0 0 0;
        }

        .img2 {
            display: none;
        }
    }
}

@media (max-width: 320px) {
    .design {
        .design-img {
            .img1 {
                display: none;
            }
    
            .img2 {
                display: block;
                left: 0;
                margin-top: 200px;
            }
        }
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .design {
        .design-img {
            .img1 {
                display: none;
            }
    
            .img2 {
                display: block;
                left: 0;
                margin-top: 200px;
            }
        }
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .design {
        .design-img {
            .img1 {
                left: 0;
                margin-top: 300px;
            }
        }
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .design {
        .design-img {
            .img1 {
                left: 10%;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .design {
        .design-img {
            .img1 {
                left: 25%;
            }
        }
    }
}